.nav{
    position: fixed;
    z-index: 10;
    transition: 0.9s;
    background : linear-gradient(rgba(0, 0, 0, 0), #05050500, #05050500);
   height: 10px;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 96px;
    align-items: center;
    text-align: center;
  justify-content: space-between;
  
}

.nav.abajo{
  background-color: #000000;
  
}

.ima{
    height: 100px;
    width: 100px;
}


.logos{
  background-color: #000000;
  border-radius: 10px;
  width: 80px;
    height: 80px;
    transition: 0.7s;
  
    margin-left: 2px;
    margin-bottom: 2px;
}


.item-cont{
  display:inline-flex;
  
  padding: 10px 10px 10px 10px ;
  margin: 10px 10px 10px 10px;
}

.item-contt{
  display:flex;
  
  

}

.items{
    
 
    
  color: #FFF;
        border: 3px solid rgba(255, 255, 255, 0);
        border-radius: 6px;
        margin-right: 10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        display: inline-block;
        letter-spacing: 2px;
        font-family: "Patua One";
        font-size: 18px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: 0.5s;
        
        border: 3px solid rgb(255, 255, 255);
  
  

}

.items:hover {
  box-shadow: inset 0 100px 0 0 #00000085;
  /* color: #00AFE5; */
  
  
}

.contact{
  margin: 10px 8px 5px 5px;
    
  color: #FFF;
  
       
        padding: 0px 0px;
        display: inline-block;
        font-family: "Patua One";
        font-size: 20px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #000000;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0s;
}

.contact:hover{
  color: #00AFE5;
}


@media (max-width:920px){

  .fondo{
    display: grid;
    grid-template-columns: (1,1fr);
    justify-content:center
  
  }
  
  .item-cont{
    display:contents;
    
    padding: 10px 10px 10px 10px ;
    margin: 10px 10px 10px 10px;
  }

  .nav{
    
    display: flex;
    margin-bottom:20px ;

  
  }
  
  h1{
    margin-top: 60px;
    margin-bottom: 10px;
  }
  p{
    display: grid;
    grid-template-columns: (1,1fr);
    justify-content:center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

.card-container{

  display: flex;
  width: auto;
  justify-content: center;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000000a6;

}
  

  .cont{
    display: grid;
    grid-template-columns: (1,1fr);
    justify-content:center
  }
  
  }