.image{
    opacity: 89%;
    height: 350px;
    width: 590px;
   
 
    
}
.img-container{
    display: grid;
  
    justify-content: space-around;
    justify-items: center;
    padding-top: 30px;
    
}
.logos{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}

h1{
  
    font-family: "Patua One";
    color: rgba(250, 235, 215, 0.904);
    font-size: 60px;
    text-decoration: underline ;
    transition: transform 0.35s ease-out;
    margin-left: 22px;
    }
    
    h1:hover{
      
      filter: drop-shadow(0 0 2em rgba(255, 255, 255, 0.74));
    }
    
    h2{
      font-family:"Patua One";
    color: rgba(255, 255, 255, 0.89);
    font-size: 30px;
    
    text-decoration: underline ;
    margin-left: 22px;}
  
    h3{
      font-family:"Patua One";
    color: rgb(255, 255, 255);
    
    font-size: 30px;
    }
    
    h4{
      font-family: "Patua One";
      color: rgba(255, 255, 255, 0.986);
      font-size: 26px; 
      transition: ease-out 0s;
    }