.card-container{
   display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-bottom: 10px;
  margin: 0px 10px 10px 10px;
}

.parr{
  font-family: "Fira Mono";
color: antiquewhite;

padding:10px 10px 10px 10px;
}


.vidconttt{
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

h1{
  
  font-family: "Patua One";
  color: rgba(250, 235, 215, 0.904);
  font-size: 60px;
  text-decoration: underline ;
  transition: transform 0.35s ease-out;
  margin-left: 22px;
  }
  
  h1:hover{
    
    filter: drop-shadow(0 0 2em rgba(255, 255, 255, 0.74));
  }
  
  h2{
    font-family:"Patua One";
  color: rgba(255, 255, 255, 0.89);
  font-size: 30px;
  
  text-decoration: underline ;
  margin-left: 22px;}

  h3{
    font-family:"Patua One";
  color: rgb(255, 255, 255);
  
  font-size: 30px;
  }
  
  h4{
    font-family: "Patua One";
    color: rgba(255, 255, 255, 0.986);
    font-size: 26px; 
    transition: ease-out 0s;
  }