.card-container{
   display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-bottom: 10px;
  margin: 0px 10px 10px 10px;
}

.parr{
  font-family: "Fira Mono";
color: antiquewhite;

padding:10px 10px 10px 10px;
}


.vidconttt{
  display: flex;
  justify-content: space-around;
  justify-items: center;
}


.hh{
  
  font-family: "Patua One";
  color: rgba(231, 220, 220, 0.973);
  font-size: 60px;
  text-decoration: underline ;
  transition: transform 0.35s ease-out;
  margin-left: 22px;
  }
  
  .hh:hover{
    
    filter: drop-shadow(0 0 2em rgba(255, 255, 255, 0.74));
  }


  .hhhh{
  
    font-family:"Patua One";
    color: rgba(231, 220, 220, 0.973);
  
  font-size: 30px;
    }