.parr{
    font-family: "Fira Mono";
  color: antiquewhite;
  
  padding: 25px 20px;
}

.contactos{
  margin-left: 20px;
 color: antiquewhite;
  text-decoration:underline;
}

.pictur{
  height: 150px;
  width: 150px;
  margin-left: 20px;
  opacity: 80%;
  
}

.hh{
  
  font-family: "Patua One";
  color: rgba(231, 220, 220, 0.973);
  font-size: 60px;
  text-decoration: underline ;
  transition: transform 0.35s ease-out;
  margin-left: 22px;
  }
  
  .hh:hover{
    
    filter: drop-shadow(0 0 2em rgba(255, 255, 255, 0.74));
  }

  
  .hhhh{
  
    font-family:"Patua One";
    color: rgba(231, 220, 220, 0.973);
  
  font-size: 30px;
    }
    
